.container{
    color: rgb(214, 213, 213);
    width: 50%;
}

.card{
    border-radius: 0px;
    background-color: #dcdcdc3d !important;
    border: 1px solid #c9c8c8;
}

.text-grey{
    color: #898989;
}